<%= link_to "Back to all movies", movies_path %>

<div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
  <h2>Submit a movie!</h2>

  <%= render 'form' %>
</div>